/* svg */
.WithProps-icon{
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}
.hidden{
    overflow: hidden;
}
.none{
    display: none;
}

/* 뱃지(N, 숫자) */
.NotificationBadge{
    position: absolute;
    top: 1px;
    right: calc(50% - 15px);
    transform: translate(50%);
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 4px;
    border-radius: 100%;
}
.NotificationBadge.type-new{
    display: none;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;
    background-color: #f66;
    color: #fff;
    box-sizing: border-box;
    flex-shrink: 0;
}
.NotificationBadge.type-number{
    right: calc(50% - 11px);
    width: auto;
    border-radius: 9px;
}
.NotificationBadge.type-new{
    display: none;
}
.NotificationBadge.type-new.active {
    display: inline-flex;
}
.dummy-area{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
}