/* svg */
.WithProps-icon{
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}
.hidden{
    overflow: hidden;
}
.none{
    display: none;
}

/* 뱃지(N, 숫자) */
.NotificationBadge{
    position: absolute;
    top: 1px;
    right: calc(50% - 15px);
    transform: translate(50%);
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 4px;
    border-radius: 100%;
}
.NotificationBadge.type-new{
    display: none;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;
    background-color: #f66;
    color: #fff;
    box-sizing: border-box;
    flex-shrink: 0;
}
.NotificationBadge.type-number{
    right: calc(50% - 11px);
    width: auto;
    border-radius: 9px;
}
.NotificationBadge.type-new{
    display: none;
}
.NotificationBadge.type-new.active {
    display: inline-flex;
}
.dummy-area{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
}

/* button Gruop */
.buttonGroup{
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
}
.buttonGroup .button{
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}
.buttonGroup .button-icon.button-inInput{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}
.buttonGroup .button-confirm{
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}


.button-submit{
    margin-top: 16px;
}
.buttonGroup .button-size{
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}
/* button */
.button{
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}
.button-close{
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}
.button{
    border: 0;
    border-color: transparent;
    padding: 0;
    height: auto;
}
.button-inInput{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}
.button-inInput svg{
    width: 20px;
    height: 20px;
}
.button.button-inInput path {
    fill: #adb5bd;
}
.button-icon{
    display: flex;
    align-items: center;
    background-color: transparent;
}
.button-bg-white{
    background: #fff;
}
.button.button-mint{
    border: 1px solid #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}
.button.button-bg-white{
    background: white;
}
.button.button-mint.button-bg-white{
    color: #00c4c4;
}
.button.button-contain{
    width: 100%;
}
.button-disabled.button-mint,
button[disabled].button-mint {
    opacity: .4;
    cursor: default;
    pointer-events: none;
}
.button .WithProps-icon{
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}
.button svg{
    display: inline-block;
}
.button span{
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}
