.main-container{padding-bottom: 82px;}
.main-wrap{background-color: #fff;padding: 8px 16px 0;max-width: 560px;box-sizing: border-box;margin-inline: auto;}
.main-content {padding-top: 8px;padding-bottom: 8px;margin-bottom: 8px;}
/* card */
.card-wrap{position: relative;overflow: hidden;display: flex;flex-direction: column;flex-shrink: 0;gap: 16px;justify-content: space-between;width: 100%;}
.card-wrap.card_hasShadow{box-shadow: 0 0 5px #0a16460f, 0 16px 16px -1px #0a16461a;padding: 16px;border-radius: 8px;background-color: #fff;}
.card_content{display: flex;flex-direction: column;gap: 8px;}
.thumb-container{position: relative;overflow: hidden;flex: none;aspect-ratio: 16 / 9;background-color: #f2f4f6;margin-top: -16px;margin-right: -16px;margin-left: -16px;border-radius: 0;}
 /* 이미지 부분 */
/* .thumb-img.Loaded{opacity: 1;} */
.thumb-img{opacity: 1; /* 로드 되면 *//* opacity: 0; */ /* 로드 안 되면(기본 값) */width: 100%;height: 100%;object-fit: cover;}
/* .thumb_overlay{} */
.thumb_overlay > div{position: absolute;z-index: 1;outline: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
.thumb_topLeft{width: 40px;height: 40px;overflow: hidden;}
.thumb_topLeft{top: 8px;left: 8px;}
.emblem-container{overflow: hidden;}
.emblem-container.emblem_sm{width: 32px;height: 32px;}
.emblem-container.emblem_md{width: 40px;height: 40px;}
.thumb_topLeft img{aspect-ratio: 1;width: 100%;height: 100%;object-fit: cover;}
.thumb_topRight{top: 0;right: 0;}
 /* 위시리스트 부분 */
.wishbtn{padding: 8px;}
.wishbtn svg{height: 24px;width: 24px;}
.wishbtn svg path{fill: #21252966;stroke: #fff;transition: fill .25s ease-in-out;}
.wishbtn.active svg path{fill: #f66;stroke: #fff;}
 /* 텍스트 부분 */
.content_container{overflow: hidden;display: flex;flex-direction: column;gap: 4px;width: 100%;}
.status_container{display: flex;align-items: center;justify-content: space-between;}
.title{font-size: 18px;font-weight: 700;line-height: 1.5;overflow: hidden;text-overflow: ellipsis;overflow-wrap: anywhere;white-space: nowrap;}
.title-mint{color: #00c4c4;}
.title-lg{font-size: 18px;font-weight: 700;line-height: 1.5;}
.StatusBadgeGroup_container{display: flex;flex-wrap: wrap;gap: 4px;}
.LabelBadge_container{position: relative;flex-shrink: 0;vertical-align: middle;line-height: 0;}
.LabelBadge{}
.LabelBadge_sm{font-size: 10px;font-weight: 500;line-height: 1.5;padding: 0 4px;height: 18px}
.LabelBadge_md{font-size: 12px;font-weight: 500;line-height: 1.5;padding: 0 6px;height: 20px}
.LabelBadge_lg{font-size: 14px;font-weight: 500;line-height: 1.5;padding: 0 8px;height: 24px}
.LabelBadge_mint{border: solid 1px #e7f9f9;background-color: #e7f9f9;color: #00c4c4;}
.LabelBadge_red{border: solid 1px #fff1f1;background-color: #fff1f1;color: #f66;}
.StatusBadgeGroup_badge{display: inline-flex;align-items: center;border-radius: 4px;box-sizing: border-box;font-weight: 700;}
.title_container{font-size: 14px;font-weight: 400;line-height: 1.5;overflow: hidden;text-overflow: ellipsis;white-space: normal;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical;line-clamp: 2;min-height: 3em;line-height: 1.5em;overflow-wrap: anywhere;/* tag style */-webkit-line-clamp: 2;min-height: 3em;/* tag style */}
.maker_container{display: flex;gap: 4px;}
.maker_container .maker_name{font-size: 12px;font-weight: 400;line-height: 1.5;overflow: hidden;text-overflow: ellipsis;overflow-wrap: anywhere;white-space: nowrap;color: #868e96}


