<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>개인정보설정</title>
<link rel="stylesheet" href="./MyPageSettings.css">
<link rel="stylesheet" href="../../static/css/common/font.css">
<link rel="stylesheet" href="../../static/css/common/reset.css">
<link rel="stylesheet" href="../../static/css/common/common.css">
<link rel="stylesheet" href="../../static/css/components/modals/modal-m.css">
</head>
<body>
    <!-- 예시 -->
    <div style="height: 200vh;">
        <div style="height: 100vh; background: #fff;">
            <div class="buttonGroup" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
                <button class="button button-size button-mint button-confirm">
                    <span>
                        <span>확인</span>
                    </span>
                </button>
            </div>
        </div>
        <div style="height: 100vh; background: #aaa;">
            <div class="buttonGroup" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
                <button class="button button-size button-mint button-confirm">
                    <span>
                        <span>확인</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!-- //예시 -->
    <div id="modal" class="modal">
        <div class="Modal_overlay">
            <div id="ZZ1Modal" class="ZZ1Modal-container">
                <div class="ZZ1Modal-header">
                    <div class="ZZ1Modal-button">
                        <button class="button button-close">
                            <span>
                                <span>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps-icon" style="height: 24px; width: 24px;">
                                        <path d="M11.9998 11.1515L4.424 3.57565L3.57547 4.42418L11.1513 12L3.57549 19.5759L4.42401 20.4244L11.9998 12.8486L19.5757 20.4244L20.4242 19.5759L12.8484 12L20.4242 4.4242L19.5757 3.57567L11.9998 11.1515Z" fill="#495057"></path>
                                    </svg>
                                </span>
                            </span>
                        </button>
                    </div>
                    <strong class="ZZ1Modal-title">빠른 거래를 원하시나요?</strong>
                </div>
                <div class="ZZ1Modal-content mt0 pt0">
                    <div class="ZZ1Modal-wrap mt0">
                        <form action="" class="passwordForm">
                            <div>
                                <strong class="ZZ1Modal-title">ZZ1</strong>
                                <div class="dummy-area" style="height: calc(100vh - 30vh);">ZZ1(V2G) 차트 정보 영역</div>
                            </div>
                            <div>
                                <strong class="ZZ1Modal-title">000님</strong>
                                <div class="dummy-area">판매 정보 입력 영역</div>
                            </div>

                            <button class="button button-contain button-mint button-lg button-submit"><!-- class="button-disabled" disabled -->
                                <span><span>판매</span></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<SCript src="../../static/js/modals/modal-m.js"></SCript>

</html>