.app-navbar-layout-container {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    flex-flow: column;
    transform: translate(-180%);
    transition: transform .2s;
    z-index: 16;
    background-color: #fff;
    width: 324px;
}

.app-navbar-layout-container {
    position: relative;
    transform: none;
    transition: width .2s;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    width: 0;
}

.app-navbar-layout-container.app-navbar-layout-expand {
    display: block;
    visibility: visible;
    opacity: 1;
    width: 240px;
}

.app-navbar-layout-container.app-navbar-layout-scroll {
    height: calc(100vh - 72px);
    overflow-y: hidden;
}

.app-navbar-layout-content {
    padding-bottom: 80px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.app-navbar-layout-content {
    overflow: visible;
}

.app-navbar-layout-container.app-navbar-layout-scroll .app-navbar-layout-content {
    padding-bottom: 0;
}

.project-info-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 12px 16px;
    border: 1px solid #f2f4f6;
    border-radius: 8px;
    border-color: #f2f4f6;
    padding: 16px;
}

.project-info-container {
    margin: 0;
}

.app-navbar-project-info-pc {
    margin: 12px 16px;
}

.project-info-container .project-info-project-no {
    display: flex;
    align-items: center;
    color: #212529;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.project-info-container .project-info-project-no .project-info-vertical-divider {
    border: none;
    background-color: #f2f4f6;
    width: 1px;
    height: 12px;
}

.project-info-container .project-info-project-no .project-info-emphasis {
    color: #00c4c4;
    font-weight: 700;
}

.project-info-divide {
    margin: 8px 0;
}

.project-info-container .project-info-divide {
    margin: 16px 0 0;
    border: none;
    background-color: #f2f4f6;
    width: 100%;
    height: 1px;
}

.project-info-info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
    color: #868e96;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
}

.project-info-drop-down-container .project-info-info-button {
    width: 100%;
}

.project-info-drop-down-container .project-info-info-button {
    padding: 0;
}

.project-info-container .project-info-text {
    margin-left: 12px;
    color: #495057;
}

.with-props-icon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.project-info-info-button svg {
    color: #495057;
}

.app-navbar-menu {
    position: relative;
}

.app-navbar-menu:before {
    position: absolute;
    top: 0;
    right: 16px;
    left: 16px;
    z-index: 1;
    background-color: #0000001a;
    height: 2px;
    content: "";
}

.app-navbar-link-menu {
    height: calc(100vh - 192px);
}

.menu-items-section {
    padding: 0;
}

.menu-items-section:first-of-type, .menu-items-section:nth-of-type(2) {
    border-bottom: 1px solid #f2f4f6;
}

.menu-items-section.menu-items-cx-center {
    padding: 16px 0;
}

strong {
    font-weight: 700;
}

.menu-items-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    margin-bottom: 8px;
    padding: 0 16px;
    color: #adb5bd;
}

.zendesk-button-menu-zendesk-button {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 8px 16px;
    width: 100%;
}

.zendesk-button-menu-zendesk-button .zendesk-button-menu-label {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: left;
    color: #212529;
    gap: 12px;
}

.with-props-icon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.zendesk-button-menu-zendesk-button .zendesk-button-menu-label svg {
    width: 24px;
    height: 24px;
}

.menu-items-menu {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
}

.menu-items-section.menu-items-cx-center .menu-items-menu {
    padding: 8px 16px;
}

.menu-items-menu .menu-items-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #495057;
    gap: 12px;
}

.menu-items-section.menu-items-cx-center .menu-items-menu .menu-items-label {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
}

.with-props-icon {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.menu-items-menu .menu-items-label svg {
    width: 16px;
    height: 16px;
}

.menu-items-section.menu-items-cx-center .menu-items-menu .menu-items-label svg {
    width: 24px;
    height: 24px;
}

.menu-items-section {
    padding: 0;
}

.menu-items-section:first-of-type, .menu-items-section:nth-of-type(2) {
    border-bottom: 1px solid #f2f4f6;
}

.menu-items-menu.menu-items-has-submenu {
    display: block;
    outline: none;
    border: none;
    width: 100%;
}

.menu-items-active .menu-items-label {
    color: #212529;
    font-weight: 700;
}

.menu-items-menu.menu-items-has-submenu .menu-items-down-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -8px;
    color: #adb5bd;
}

.menu-items-menu.menu-items-has-submenu .menu-items-down-icon.menu-items-open {
    transform: rotate(180deg);
}

.MenuItems_submenuContainer__ZDc4Y {
    transition: height .3s ease-out;
    height: 0;
    overflow-y: hidden;
}

.MenuItems_submenuContainer__ZDc4Y .MenuItems_submenu__MmYxO {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #f9fafb;
    padding: 12px 16px 12px 44px;
    color: #495057;
    gap: 4px;
}

.menu-items-menu.menu-items-disabled {
    position: relative;
}

.menu-items-menu.menu-items-disabled .menu-items-dim {
    display: none;
}

.menu-items-menu.menu-items-disabled .menu-items-label {
    color: #adb5bd;
}

.menu-items-menu.menu-items-disabled .menu-items-lock-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -6px;
    width: 12px;
    height: 12px;
}

.menu-items-section.menu-items-boosting {
    padding: 16px 0;
}

.menu-items-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    margin-bottom: 8px;
    padding: 0 16px;
    color: #adb5bd;
}

.menu-items-menu.menu-items-disabled .menu-items-lock-icon {
    display: none;
}

.menu-items-menu.menu-items-disabled .menu-items-label {
    color: #495057;
}
