<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./join_2.css">

    <title>회원가입</title>



<style>
</style>


</head>


<body>
    <!-- 로그인(회원가입 폼) -->
    <div id="root">

        <main>


            <header class="Header-module_container__da545">
                <div class="Header-module_content__31d4e">
                    <div class="Header-module_left__45013">
                        <button class="StyledComponent-module_container__2d5ce" aria-label="뒤로 가기" type="button">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps-module_icon__d564b" style="height: 24px; width: 24px;">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0757 2.57573L16.9243 3.42426L8.34851 12L16.9243 20.5757L16.0757 21.4243L6.65146 12L16.0757 2.57573Z" fill="#495057">
                                </path>
                            </svg>
                        </button>
                    </div>
                    <div class="Header-module_center__3afb0">
                    </div>
                    <div class="Header-module_right__6c908">
                        <a class="StyledComponent-module_container__2d5ce" aria-label="홈으로 가기" href="https://www.wadiz.kr/home">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps-module_icon__d564b" style="height: 24px; width: 24px;">
                                <path d="M21.6 7.67893L12 1.27893L2.40002 7.67893V21H3.60002V8.32115L12 2.72115L20.4 8.32115V21H21.6V7.67893Z" fill="#495057"></path>
                                <path d="M15.6 21V12.4H8.40002V21H9.60002V13.6H14.4V21H15.6Z" fill="#495057"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </header>
    
    
            <div class="padding-16">
                <div class="SignupForm-module_container__7536d">
                    <div class="SignupForm-module_titleContainer__fb197">
                        <div class="SignupForm-module_title__d581c">이메일 가입하기</div>
                        <span class="SignupForm-module_description__3422b">최소한의 정보를 받고 있어요.</span>
                    </div>
    
            <!--
                하단 아래 테그 추가 
            <div class="SignupForm-module_content__a4f9d">
                <div>
            -->
    
                    <div class="SignupForm-module_content__a4f9d">
                        <div>
                            <form>
                                <div class="EmailAuthField-module_emailAuthField__1a4fe">
                                    <label class="EmailAuthField-module_fieldLabel__4f476"> 이메일
                                        <span class="EmailAuthField-module_isRequired__e9c44">*</span>
                                    </label>
                                    <div class="EmailAuthField-module_inputFieldContainer__dfec5">
                                        <div class="EmailAuthField-module_inputField__6a914">

                                            <!--
                                            <input  placeholder="이메일 입력" 
                                                    name="email" 
                                                    type="email" 
                                                    class="Input-module_input__210a1 Input-module_lg__592e9" 
                                                    aria-invalid="false" 
                                                    disabled="">-->

                                            <!-- 자동 추천 Google Tag Manager가 폼 입력 순서를 추적하기 위해 자동으로 붙이는 분석용 속성 -->
                                            <!--         <input placeholder="이메일 입력" -->
                                               <!--        <input placeholder="minpre@empas.com"
                                                            name="email" 
                                                            type="email" 
                                                            class="Input-module_input__210a1 Input-module_lg__592e9" 
                                                            aria-invalid="false" 
                                                            data-gtm-form-interact-field-id="0"
                                                            style = "border-color: #f2f4f6; background-color: #f9fafb;">--> 

                                                            <input
                                                            name="email"
                                                            type="email"
                                                            value="minpre@empas.com"
                                                            class="Input-module_input__210a1 Input-module_lg__592e9"
                                                            aria-invalid="false"
                                                            data-gtm-form-interact-field-id="0"
                                                            style="border-color: #f2f4f6; background-color: #f9fafb;"
                                                          >                                                            

                                            <!-- 
                                                js value 넘기는 방법 
                                                document.querySelector('input[name="email"]').value = 'minpre@empas.com';
                                                
                                                리엑트에서 value 넘기는 방법
                                                <input value={email} onChange={...} />
                                            -->


                                        </div>
<!--
                                        <button class="Button-module_button__d78c2 
                                        Button-module_mint__1c1d6 Button-module_contained__ecf2a 
                                        Button-module_lg__53dd9 EmailAuthField-module_cta__2a755" type="submit">
                                            <span>
                                                <span>인증하기</span>
                                            </span>
                                        </button>
-->




                                    </div>
                                </div>
                            </form>
                            <form class="EmailAuth-module_authCodeContainer__77cf2">
                                <input name="second" type="hidden" value="0">
                                <div class="EmailAuthField-module_emailAuthField__1a4fe EmailAuthField-module_showTimer__13345">
                                    <label class="EmailAuthField-module_fieldLabel__4f476"> 인증 번호
                                        <span class="EmailAuthField-module_isRequired__e9c44">*</span>
                                    </label>
                                    <div class="EmailAuthField-module_inputFieldContainer__dfec5">
                                        <div class="EmailAuthField-module_inputField__6a914">
                                            <input name="authCode" placeholder="인증 번호 입력" type="number" class="Input-module_input__210a1 Input-module_lg__592e9 Input-module_error__8f07f" aria-invalid="true" value="" disabled="">
                                        </div>
                                        <button class="Button-module_button__d78c2 Button-module_mint__1c1d6 Button-module_contained__ecf2a Button-module_lg__53dd9 Button-module_disabled__2ebf2 EmailAuthField-module_cta__2a755" type="submit" disabled="">
                                            <span>
                                                <span>확인</span>
                                            </span>
                                        </button>
                                    </div>
                                    <p class="EmailAuthField-module_helperMessage__846de EmailAuthField-module_error__87512">인증 시간이 만료되었어요. 다시 시도해 주세요.</p>
                                </div>
                            </form>
                            <div class="EmailAuth-module_resendCodeReqWrapper__e3210">
                                <span class="EmailAuth-module_resendCodeReq__9ba46">인증 번호 다시 보내기</span>
                            </div>
                        </div>
                        <form autocomplete="off">
                            <!-- 숨겨져 있는 테그 -->
                            <input type="hidden" name="userName" value="">
                            <input type="hidden" name="loginIdType" value="email">

                            <!-- 비밀번호 입력, 확인  -->
                            <div class="SignupForm-module_textFieldGroup__e4d83">
                                <div class="TextField-module_textField__404b4 TextField-module_lg__11d56 undefined">
                                    <label>
                                        <span>
                                            <div class="SignupForm-module_textFieldLabel__4a2d9">비밀번호</div>
                                        </span>
                                        <span class="TextField-module_isRequired__294b9">*</span>
                                    </label>
                                    <div class="TextField-module_field__4d1fc TextField-module_disabled__003a5 TextField-module_noStartText__b3da2 TextField-module_noEndText__0e7c7 TextField-module_hasEndIcon__96e6e">
                                        <input autocomplete="new-password" placeholder="비밀번호 입력" name="password" type="password" class="Input-module_input__210a1 Input-module_lg__592e9" aria-invalid="false" disabled="">
                                        <button aria-label="비밀번호 보기" class="Button-module_button__d78c2 Button-module_text__47ff4 Button-module_lg__53dd9 Button-module_iconOnly__0a115 iconButton TextField-module_endIcon__aab7d TextField-module_passwordIcon__92654" type="button">
                                            <span>
                                                <span>
                                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps-module_icon__d564b">
                                                        <path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" fill="#495057">        
                                                        </path>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9999 12C20.5443 7.33923 16.6167 4 12 4C7.38322 4 3.45561 7.33923 2 12C3.45561 16.6608 7.38322 20 12 20C16.6167 20 20.5443 16.6608 21.9999 12ZM17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z" fill="#495057">
                                                        </path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="HelperMessage-module_helperMessage__06cff">
                                        <span class="SignupForm-module_error__025b5">              
                                        </span>
                                    </div>
                                </div>
                                <div class="TextField-module_textField__404b4 TextField-module_lg__11d56 undefined">
                                    <label></label>
                                    <div class="TextField-module_field__4d1fc TextField-module_disabled__003a5 TextField-module_noStartText__b3da2 TextField-module_noEndText__0e7c7 TextField-module_hasEndIcon__96e6e">
                                        <input autocomplete="new-password" placeholder="비밀번호 확인" name="verifyPassword" type="password" class="Input-module_input__210a1 Input-module_lg__592e9" aria-invalid="false" disabled="">
                                        <button aria-label="비밀번호 보기" class="Button-module_button__d78c2 Button-module_text__47ff4 Button-module_lg__53dd9 Button-module_iconOnly__0a115 iconButton TextField-module_endIcon__aab7d TextField-module_passwordIcon__92654" type="button">
                                            <span>
                                                <span>
                                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps-module_icon__d564b">
                                                        <path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" fill="#495057">
                                                        </path>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9999 12C20.5443 7.33923 16.6167 4 12 4C7.38322 4 3.45561 7.33923 2 12C3.45561 16.6608 7.38322 20 12 20C16.6167 20 20.5443 16.6608 21.9999 12ZM17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z" fill="#495057">
                    
                                                        </path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="HelperMessage-module_helperMessage__06cff">
                                        <span class="SignupForm-module_error__025b5"></span>
                                    </div>
                                </div>
                            </div>
                            <button class="Button-module_button__d78c2 Button-module_mint__1c1d6 Button-module_contained__ecf2a Button-module_lg__53dd9 Button-module_block__d6eff Button-module_disabled__2ebf2 SignupForm-module_termsButton__fdaf7" disabled="" type="button">
                                <span>
                                    <span>약관 동의 후 가입 완료하기</span>
                                </span>
                            </button>
                        </form>
                    </div>
    
    
    
    
    
    
                </div>
            </div>








        </main>









    </div>
</body>

</html>




