#GNB{
    position: fixed;
    z-index: 16;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f2f4f6;
    background-color: #fff;
}
.NavigationTab-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 8px;
}

.NavigationTab-icon{
    display: flex;
    align-items: center;
}
.NavigationTab-icon img{
    /* width: 22px; */
    height: 22px;
}
.NavigationTab-icon svg{
    display: block;
    height: 24px;
    width: 24px;
    fill: #6a737c;
}
.NavigationTab-icon svg g{
    fill: #6a737c;
}

.NavigationTab-container.active .NavigationTab-icon svg g{
    fill: #222;
}

.NavigationTab-icon > i{
    margin-top: 5px;
    color: #6a737c;
}
.NavigationTab-container.active .NavigationTab-icon > i{
    color: #222;
}
.NavigationTab-name{
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #868e96;
}
.NotificationBadge{
    position: absolute;
    top: 1px;
    right: calc(50% - 15px);
    transform: translate(50%);
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 4px;
    border-radius: 100%;
}
.NotificationBadge.type-new{
    display: none;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;
    background-color: #f66;
    color: #fff;
    box-sizing: border-box;
    flex-shrink: 0;
}
.NotificationBadge.type-new{
    display: none;
}
.NotificationBadge.type-new.active {
    display: inline-flex;
}
.NavigationTab-name{
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #868e96;
}
.NavigationTab-container.active .NavigationTab-name{
    font-weight: 700;
    color: #212529;
}