<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/common/font.css">
<link rel="stylesheet" href="../static/css/common/reset.css">
<link rel="stylesheet" href="../static/css/common/common.css">
<title>Main</title>
</head>
<body>
<div id="app" class="main">
    <div class="main-container">
        <div class="main-wrap">
            <div class="quickMenu-container">
                <div class="QuickMenu_wrap">
                    <a class="QuickMenu_item-container" href="">긴급 서비스</a>
                    <a class="QuickMenu_item-container" href="">ZZ1</a>
                    <a class="QuickMenu_item-container" href="">뉴스 및 블로그</a>
                    <a class="QuickMenu_item-container" href="">고객센터</a>
                    <a class="QuickMenu_item-container" href="">팔로우</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>