/* common */
#modal{visibility: hidden; opacity: 0; transition: opacity 0.5s;}
#modal.active{visibility: visible; opacity: 1; transition: .5s;}

/* button Gruop */
.buttonGroup{
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
}
.buttonGroup .button{
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}
.buttonGroup .button-icon.button-inInput{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}
.buttonGroup .button-confirm{
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

/* inputField,input */
.inputField{
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 16px;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}
.inputField.focus{
    
    border-color: #00c4c4;
}
.inputField.blur{
    border-color: #868e96;
}
.input{
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

.input::placeholder {
    color: #adb5bd
}
.input-ph-sm::placeholder {
    font-size: 14px;
}
.input-message {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 4px;
}
.input-message.nomal {
    color: #868e96;
}

.inputField .input{
    flex-grow: 1;
    border: 0;
    max-width: 100%;
    border-radius: 0;
    padding: 0;
}
.input.input-hasIcon {
    padding-right: 44px;
    padding-left: 16px;
}
/* input util */
.input.input-sm{
    height: 32px;
    min-height: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5
}
.input.input-md{
    height: 40px;
    min-height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5
}
.input.input-lg{
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.input.input-xl{
    height: 56px;
    min-height: 56px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5
}
/* button util */
.button-sm{
    height: 32px;
    min-height: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5
}
.button-md{
    height: 40px;
    min-height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5
}
.button-lg{
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.button-xl{
    height: 56px;
    min-height: 56px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5
}

.Modal_overlay {
    display: inline-flex;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: 32;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: .3s;
    /* animation: AlertModal-module_overlayInit__d02cc .25s; */
}
/* modal style */
 /* alert modal */
.AlertModal-container{
    position: relative;
    display: flex;
    width: 400px;
    max-width: calc(100% - 32px);
    flex-direction: column;
    outline: none;
    border-radius: 16px;
    box-shadow: 0 32px 40px -2px #0a16461f, 0 0 5px #0a16460f;
    background: #fff;
    padding-block: 24px;
    max-height: calc(100vh - 160px);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.AlertModal-container > div {
    padding: 0 24px;
}
.AlertModal-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 16px;
    padding: 0 16px;
}
.AlertModal-content{
    display: inline-flex;
    flex-direction: column;
    overflow: auto;
    color: #495057;
    margin-top: 12px;
}
.AlertModal-footer{
    position: relative;
    margin-top: 24px;
}

.AlertModal-button{
    flex-shrink: 0;
    margin-left: auto;
}
.AlertModal-title{
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        color: #212529;
        word-break: keep-all;
        overflow-wrap: anywhere;
}
.AlertModal-message{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border: 0;
    width: 100%;
    resize: none;
}

 /* form modal */
.FormModal-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1023px;
    max-height: 100vh;
    padding-top: 24px;
    padding-block: 24px;
    outline: none;
    box-shadow: 0 32px 40px -2px #0a16461f, 0 0 5px #0a16460f;
    background: #fff;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translateY(0);
    transition-timing-function: ease-in;
    transition-delay: 0ms;
    transition: .15s ease-out 50ms;
    transition-property: transform;
    border-radius: 0;
    
}
/* 임시 UI 맞춤 */
.FormModal-container .button-close {
    margin-top: 1px;
}
.FormModal-container > div {
    padding-left: 16px;
    padding-right: 16px;
}
.FormModal-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 16px;
}
.FormModal-button{
    flex-shrink: 0;
    margin-left: auto;
}

.FormModal-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #212529;
    word-break: keep-all;
    overflow-wrap: anywhere;
}

.FormModal-content{
    display: inline-flex;
    flex-direction: column;
    overflow: auto;
    color: #495057;
    margin-top: 12px;
}

.FormModal-wrap{
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.passwordForm{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 560px;
}

.currentPassword-container{
    display: flex;
    flex-direction: column;
}
.currentPassword-wrap{
    display: block;
    position: relative;
}
.currentPassword-container label,
.newPassword-container label,
.newPasswordConfirm-container label{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 4px;
}
/* .currentPassword-container label span{} */

.currentPassword-container .inputField,
.newPassword-container .inputField,
.newPasswordConfirm-container .inputField{
    padding-right: 0;
    padding-left: 0;
}


.button-submit{
    margin-top: 16px;
}
.buttonGroup .button-size{
    padding-inline: 24px;
    height: 48px;
    font-size: 16px;
}
/* button */
.button{
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

.button-close{
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}
.button{
    border: 0;
    border-color: transparent;
    padding: 0;
    height: auto;
}
.button-inInput{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #adb5bd;
}
.button-inInput svg{
    width: 20px;
    height: 20px;
}
.button.button-inInput path {
    fill: #adb5bd;
}
.button-icon{
    display: flex;
    align-items: center;
    background-color: transparent;
}
.button.button-mint{
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}
.button-disabled.button-mint,
button[disabled].button-mint {
    opacity: .4;
    cursor: default;
    pointer-events: none;
}
.button .WithProps-icon{
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}
.button svg{
    display: inline-block;
}
.button span{
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}