<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../../../static/css/common/font.css" />
<link rel="stylesheet" href="../../../static/css/common/reset.css" />
<link rel="stylesheet" href="../../../static/css/common/fontawesome.css" />
<link rel="stylesheet" href="../../../static/css/common/common.css" />
<link rel="stylesheet" href="../../../static/css/components/navigations/navigation-m.css" />
<title>Global navigation</title>
</head>
<body>
<div id="app" class="main">
    
    <!-- 예시 -->
    <div style="height: 200vh">
        <div style="height: 100vh; background: #fff">
            <div class="buttonGroup" style="height: 100vh; display: flex; justify-content: center; align-items: center">
                <span>
                    <span>비주얼 영역</span>
                </span>
            </div>
        </div>
        <div style="height: 100vh; background: #aaa">
            <div class="buttonGroup" style="height: 100vh; display: flex; justify-content: center; align-items: center">
                <button class="button button-size button-mint button-confirm">
                    <span>
                        <span>컨텐츠 영역</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!-- //예시 -->

    <!-- 퀵메뉴 부분 -->
    <aside id="Quick" class="quickButton-container">
        <button type="button" class="quickButton-pageTop">
            <svg viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg" width="32" class="WithProps-icon" style="color: rgb(255, 255, 255); height: 32px; width: 32px">
                <path d="M4 5.4h16v1.2H4V5.4zM5.424 18.424l-.848-.848L12 10.15l7.424 7.425-.848.848L12 11.85l-6.576 6.575z" fill="#222"></path>
            </svg>
        </button>
        <button type="button" class="quickButton-letter">
            <i class="fa-solid fa-envelope-open-text"></i>
        </button>
        <button type="button" id="QuickV2G" class="quickButton-V2G">
            <span class="zz1OpenButton_icon">
                <img src="data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNDAgNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yMS42MzI4IDZIMTguMzY3M1YxOC4zNjczSDZWMjEuNjMyOEgxOC4zNjczVjM0SDIxLjYzMjhWMjEuNjMyOEgzNFYxOC4zNjczSDIxLjYzMjhWNloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=" />
            </span>
        </button>
        <span class="NotificationBadge type-new">N</span>
    </aside>

</div>
<script src="../../../static/js/navigations/quick_navigation-m.js"></script>

</body>
</html>
