.AppGNBbar_container__ZDMwZ {
    box-shadow: 0 1px #0a16460f;
    display: flex;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 16;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 56px;
}

.AppGNBbar_container__ZDMwZ {
    height: 72px;
}  

.AppGNBbar_flex__MDc1N {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.StudioLogo_container__MDU0M {
    display: flex;
    align-items: center;
    padding: 20px 16px;
}

.StudioLogo_container__MDU0M {
    padding: 0;
}

.StudioLogo_logo__ZTQzY {
    display: block;
    margin-right: 8px;
    outline: 0;
    width: 180px;
    height: auto;
}

.StudioLogo_logo__ZTQzY {
    margin-bottom: 4px;
    width: auto;
    height: 20px;
}

.StudioLogo_type__Mzg0M {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.5;
    margin-right: 8px;
    color: #868e96;
}

.StudioLogo_type__Mzg0M {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}

.StudioStatus_stateBox__ZWM5Y {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.LabelBadge_container__N2ExY {
    position: relative;
    flex-shrink: 0;
    vertical-align: middle;
    line-height: 0;
}

.LabelBadge_badge__MTg4Y {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.LabelBadge_badge__MTg4Y.LabelBadge_md__NTZjZ {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 6px;
    height: 20px;
}

.LabelBadge_badge__MTg4Y.LabelBadge_gray__MWM4M.LabelBadge_tint__YmFlM {
    border: solid 1px #f2f4f6;
    background-color: #f2f4f6;
    color: #495057;
}

.AppGNBbar_flex__MDc1N {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.AppGNBbar_rightBox__NmIwO {
    justify-content: flex-end;
    gap: 8px;
}

.AnnouncementButton_container__ZDI2M {
    display: flex;
    position: relative;
    transition: background-color .3s;
    border-radius: 8px;
    cursor: pointer;
}

.AnnouncementButton_icon__YmYzZ {
    padding: 4px;
}

.DotBadge_badge__YjE5Z {
    display: inline-flex;
    border: 2px solid transparent;
    border-radius: 100%;
    background-clip: padding-box;
    background-color: #f66;
    padding: 0;
    box-sizing: border-box;
}

.AnnouncementButton_badge__ZjhhM {
    position: absolute;
    top: 0;
    right: 0;
}

.DotBadge_badge__YjE5Z.DotBadge_sm__ZTUxO {
    width: 8px;
    height: 8px;
}

.LanguageSelection_container__MzQwM {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 24px;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 12px;
}

.WithProps_icon__ZTE2Z {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.LanguageSelection_container__MzQwM>svg {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.WithProps_icon__ZTE2Z>path {
    fill: currentColor;
}

.LanguageSelection_container__MzQwM em {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.PreviewExitButtons_container__YTgxO {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

.Button_button__MDE5Z {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-inline: 24px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
    box-sizing: border-box;
    line-height: 1.5;
}

.Button_button__MDE5Z.Button_md__ZTFkY {
    padding-inline: 16px;
    height: 40px;
    font-size: 14px;
}

