<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>기업 메인 - 거래목록</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://wabiz-static-dev.s3.ap-northeast-2.amazonaws.com/static/favicon/favicon.png" type="image/x-icon" />

        <!-- 폰트 -->
        <link rel="stylesheet" href="/static/css/common/font.css" />

        <!-- 공통 css 스타일 -->
        <link rel="stylesheet" href="/static/css/common/reset.css" />

        <!-- fontawesome 꾸며진 폰트 -->
        <!-- <link rel="stylesheet" href="style.css"> -->

        <!-- 유틸 css -->
        <link rel="stylesheet" href="/static/css/common/util.css" />

        <!-- 개별 css 스타일 -->
        <link rel="stylesheet" href="/static/css/company-admin/company-list.css" />
    </head>
    <body>
        <!-- 컨테이너 -->
        <div class="inner-content">
            <!-- 목록 헤더 영역 -->
            <div class="content-header">
                <div class="box-tit">
                    <h2 class="fz-36 fc-1 fw-bold">후불 결제 내역</h2>
                </div>
            </div>
            <!-- 바디 영역 -->
            <div class="content-body">
                <!-- 탭 선택 영역 -->
                <div class="comp-tab">
                    <a class="tab selected" href="#">
                        <span class="tab-item">일간 내역</span>
                    </a>
                    <a class="tab" href="#">
                        <span class="tab-item">상세 내역</span>
                    </a>
                </div>

                <!-- 선택된 탭의 내용 -->
                <div class="comp-tab-content selected">
                    <section class="wrap-section wrap-datagrid">
                        <!-- 날짜 조회 영역 -->
                        <form>
                            <div class="wrap-filter">
                                <div class="inner-filter">
                                    <!-- 조회기간 -->
                                    <div class="box-left">
                                        <div class="item-filter">
                                            <div class="filter-tit">
                                                <p class="fz-12 fc-2">조회기간</p>
                                            </div>
                                            <!-- 날짜 선택 박스 -->
                                            <div class="box-filter">
                                                <div class="comp-datepicker">
                                                    <div class="inner-datepicker">
                                                        <!-- 캘린더 이미지 -->
                                                         <i class="icon icon-calendar"></i>
                                                        <input type="text" class="tf-comm datepicker-range" id="datepicker">
                                                        <span class="fz-12 fc-2">
                                                            사용자 설정
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-right">
                                        <button type="submit" class="btn btn-tertiary-mint btn-icon">
                                            <i class="icon icon-filter"></i>
                                            조회
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- 헤더) 다운로드 버튼 영역 -->
                        <div class="box-header">
                            <div class="box-option">
                                <button type="button" class="btn btn btn-secondary-outline btn-icon">
                                    <i class="icon icon-download"></i>
                                    다운로드
                                </button>
                            </div>
                        </div>

                        <!-- 바디) 목록 영역 -->
                        <div class="box-body">
                            <div class="ag-grid">
                                <div class="ag-grid-inner">
                                    <div style="height: 100%; --ag-line-height: 48px;">
                                        <!-- AG Grid -->
                                         <div class="ag-root-wrapper ag-ltr ag-keyboard-focus ag-layout-auto-height">
                                            <div class="ag-root-wrapper-body ag-focus-managed ag-layout-auto-height">
                                                <!-- AG Body -->
                                                 <div class="ag-root ag-unselectable ag-layout-auto-height">
                                                    <!-- 행 제목 영역 -->
                                                    <div class="ag-header ag-pivot-off" style="height: 26px; min-height: 26px;">
                                                        <div class="ag-header-viewport ">
                                                            <div class="ag-header-container" style="width: 1559px; transform: translateX(0px);">
                                                                <div class="ag-header-row ag-header-row-column" style="height: 25px; top: 0px; width: 1559px;">
                                                                    
                                                                     <!-- #행 제목 구분 1 -->
                                                                     <div class="ag-header-cell ag-header-cell-sortable ag-focus-managed" style="left: 0px; width: 312px;">
                                                                        <div class="ag-header-cell-resize"></div>
                                                                        <div class="ag-cell-label-container ag-header-cell-sorted-none">
                                                                            <div class="ag-header-cell-label">
                                                                                <span class="ag-header-cell-text">날짜</span>
                                                                            </div>
                                                                        </div>
                                                                     </div>

                                                                      <!-- #행 제목 구분 2 -->
                                                                     <div class="ag-header-cell ag-header-cell-sortable ag-center-aligned-header ag-focus-managed" style="left: 312px; width: 312px;">
                                                                        <div class="ag-header-cell-resize"></div>
                                                                        <div class="ag-cell-label-container ag-header-cell-sorted-none">
                                                                            <div class="ag-header-cell-label">
                                                                                <span class="ag-header-cell-text">후불 결제 프로젝트</span>
                                                                            </div>
                                                                        </div>
                                                                     </div>

                                                                     <!-- #행 제목 구분 3 -->
                                                                      <div class="ag-header-cell ag-header-cell-sortable ag-center-aligned-header ag-focus-managed" style="left: 624px; width: 312px;">
                                                                        <div class="ag-header-cell-resize"></div>
                                                                        <div class="ag-cell-label-container ag-header-cell-sorted-none">
                                                                            <div class="ag-header-cell-label">
                                                                                <span class="ag-header-cell-text">후불 결제 캠페인</span>
                                                                            </div>
                                                                        </div>
                                                                      </div>

                                                                      <!-- #행 제목 구분 4 -->
                                                                       <div class="ag-header-cell ag-header-cell-sortable ag-center-aligned-header ag-focus-managed" style="left: 936px; width: 312px;">
                                                                        <div class="ag-header-cell-resize"></div>
                                                                        <div class="ag-cell-label-container ag-header-cell-sorted-none">
                                                                            <div class="ag-header-cell-label">
                                                                                <span class="ag-header-cell-text">후불 결제 금액</span>
                                                                            </div>
                                                                        </div>
                                                                     </div>

                                                                     <!-- #행 제목 구분 5 -->
                                                                     <div class="ag-header-cell ag-header-cell-sortable ag-center-aligned-header ag-focus-managed" style="left: 1248px; width: 311px;">
                                                                        <div class="ag-header-cell-resize"></div>
                                                                        <div class="ag-cell-label-container ag-header-cell-sorted-none">
                                                                            <div class="ag-header-cell-label">
                                                                                <span class="ag-header-cell-text">후불 결제 잔액반환</span>
                                                                            </div>
                                                                        </div>
                                                                     </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- AG Middle -->
                                                    <!-- 행 내용 영역 -->
                                                     <div class="ag-body-viewport ag-row-no-animation ag-layout-auto-height">
                                                        <!-- AG Row Container center -->
                                                         <div class="ag-center-cols-clipper" style="height: 384px;">
                                                            <div class="ag-center-cols-viewport" style="height: 100%;">
                                                                <div class="ag-center-cols-container" style="height: 384px; width: 1559px;">

                                                                    <!-- 행 1 -->
                                                                     <div class="ag-row-no-focus ag-row ag-row-level-0 ag-row-position-absolute ag-row-even ag-row-first" style="transform: translateY(0px); height: 48px;">
                                                                        <!-- 날짜 -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-center-aligned-cell ag-cell-value" style="left: 0px; width: 312px;">2026-01-19</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 312px; width: 312px;">-</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 624px; width: 312px;">-</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 936px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 1248px; width: 311px;">-</div> 
                                                                     </div>

                                                                    <!-- 행 2 -->
                                                                     <div class="ag-row-no-focus ag-row ag-row-level-0 ag-row-position-absolute ag-row-odd" style="transform: translateY(48px); height: 48px;">
                                                                        <!-- 날짜 -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-center-aligned-cell ag-cell-value" style="left: 0px; width: 312px;">2026-01-18</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 312px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 624px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 936px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                         <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 1248px; width: 311px;">-</div>
                                                                      </div>

                                                                    <!-- 행 3 -->
                                                                     <div class="ag-row ag-row-level-0 ag-row-position-absolute ag-row-even ag-row-no-focus" style="transform: translateY(96px); height: 48px;">
                                                                        <!-- 날짜 -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-center-aligned-cell ag-cell-value" style="left: 0px; width: 312px;">2026-01-17</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 312px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 624px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 936px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 1248px; width: 311px;">-</div> 
                                                                      </div>

                                                                    <!-- 행 4 -->
                                                                     <div class="ag-row-no-focus ag-row ag-row-level-0 ag-row-position-absolute ag-row-odd" style="transform: translateY(144px); height: 48px;">
                                                                        <!-- 날짜 -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-center-aligned-cell ag-cell-value" style="left: 0px; width: 312px;">2026-01-16</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 312px; width: 312px;">-</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 624px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 936px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 1248px; width: 311px;">-</div>
                                                                     </div>

                                                                    <!-- 행 5 -->
                                                                     <div class="ag-row-no-focus ag-row ag-row-level-0 ag-row-position-absolute ag-row-even" style="transform: translateY(192px); height: 48px;">
                                                                        <!-- 날짜 -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-center-aligned-cell ag-cell-value" style="left: 0px; width: 312px;">2026-01-15</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 312px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 624px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 936px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 1248px; width: 311px;">-</div> 
                                                                      </div>

                                                                    <!-- 행 6 -->
                                                                     <div class="ag-row ag-row-level-0 ag-row-position-absolute ag-row-odd ag-row-focus" style="transform: translateY(240px); height: 48px;">
                                                                        <!-- 날짜 -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-center-aligned-cell ag-cell-value" style="left: 0px; width: 312px;">2026-01-14</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 312px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-focus ag-cell-value" style="left: 624px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 936px; width: 312px;">-</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 1248px; width: 311px;">-</div> 
                                                                     </div>

                                                                    <!-- 행 7 -->
                                                                     <div class="ag-row-no-focus ag-row ag-row-level-0 ag-row-position-absolute ag-row-even"style="transform: translateY(288px); height: 48px;" >
                                                                        <!-- 날짜 -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-center-aligned-cell ag-cell-value" style="left: 0px; width: 312px;">2026-01-13</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 312px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 624px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 936px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 1248px; width: 311px;">-</div> 
                                                                     </div>

                                                                    <!-- 행 8 -->
                                                                     <div class="ag-row ag-row-level-0 ag-row-position-absolute ag-row-odd ag-row-last ag-row-no-focus" style="transform: translateY(336px); height: 48px;">
                                                                        <!-- 날짜 -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-center-aligned-cell ag-cell-value" style="left: 0px; width: 312px;">2026-01-12</div>
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 312px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 624px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 936px; width: 312px;">-</div> 
                                                                        <!-- # -->
                                                                        <div class="ag-cell ag-cell-not-inline-editing ag-cell-normal-height ag-right-aligned-cell ag-cell-value" style="left: 1248px; width: 311px;">-</div> 
                                                                     </div>
                                                                </div>
                                                            </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 페이지 사이즈, 페이지 이동 -->
                        <div class="box-footer">
                            <!-- 건 수 -->
                            <div class="box-left">
                               <div class="pagenation">
                                <span class="list-total">
                                    총
                                    <em class="fw-medium">8</em>
                                    건
                                </span>
                               </div> 
                            </div>
                            <!-- 페이지 사이즈 옵션 -->
                            <div class="box-right">
                                <div class="pagenation">
                                    <select class="select2-single small select2-hidden-accessible">
                                        <option value="10">
                                            10
                                            Row
                                        </option>
                                        <option value="20">
                                            20
                                            Row
                                        </option>
                                        <option value="30">
                                            30
                                            Row
                                        </option>
                                        <option value="40">
                                            40
                                            Row
                                        </option>
                                        <option value="50">
                                            50
                                            Row
                                        </option>
                                    </select>
                                    <!-- 페이지 사이즈 목록 -->
                                    <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" style="width: 120px;">
                                        <span class="selection">
                                            <span class="select2-selection select2-selection--single">
                                                <span class="select2-selection__rendered" id="select2-xdt6-container" title="10 Row">10 Row</span>
                                                <span class="select2-selection__arrow">
                                                    <b></b>
                                                </span>
                                            </span>
                                        </span>
                                        <!-- 드롭다운 옵션 영역 -->
                                        <span class="dropdown-wrapper"></span>
                                    </span>

                                    <!-- 페이지 이동 -->
                                    <div class="page-nav">
                                        <!-- 처음으로 -->
                                        <button class="btn-nav first">
                                            <i class="icon"></i>
                                        </button>
                                        <!-- 이전으로 -->
                                        <button class="btn-nav prev">
                                            <i class="icon"></i>
                                        </button>
                                        <!-- 페이지 번호 -->
                                        <a href="#" class="page-num selected" data-value="1">1</a>
                                        <!-- 다음으로 -->
                                        <button class="btn-nav next">
                                            <i class="icon"></i>
                                        </button>
                                        <!-- 끝으로 -->
                                        <button class="btn-nav last">
                                            <i class="icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
