<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업 메인 - 충전소 관리 목록</title>
        <!-- favicon -->
        <link rel="shortcut icon" href="https://wabiz-static-dev.s3.ap-northeast-2.amazonaws.com/static/favicon/favicon.png" type="image/x-icon" />

        <!-- 폰트 -->
        <link rel="stylesheet" href="/static/css/common/font.css" />

        <!-- 스타일 초기화 css -->
        <link rel="stylesheet" href="/static/css/common/reset.css" />

        <!-- 공통 css -->
        <link rel="stylesheet" href="/static/css/common/common.css">

        <!-- fontawesome 꾸며진 폰트 -->
        <link rel="stylesheet" href="/static/css/common/fontawesome.css">

        <!-- 유틸 css -->
        <link rel="stylesheet" href="/static/css/common/util.css" />

        <!-- 개별 css 스타일 -->
        <link rel="stylesheet" href="/static/css/company-admin/company-charger.css" />

</head>
<body>
    <main class="board">
        <!-- 헤더, 페이지 제목 -->
        <div class="ui-header">
            <h2 class="title">충전소 관리</h2>
        </div>

        <!-- 화면 상단, 탭 이동 버튼/공지사항 알림바 -->
        <div class="segmented-tabs">
            <!-- 공지사항 알림바 -->
            <a href="#!" class="notice-banner">
                <span class="banner-logo"></span>
                <strong class="banner-title">메이커 공지사항</strong>
                <span class="banner-text">메이커 대상 공지 · 이벤트 확인</span>
            </a>
            <!-- 탭(페이지) 이동 버튼 -->
            <!-- 필터바 아님, 페이지 이동 필요 -->
            <ul>
                <li class="active">
                    <a href="#!">충전소 목록</a>
                </li>
                <li>
                    <a href="#!">새 충전소 등록</a>
                </li>
                <li>
                    <a href="#!">충전소 수정</a>
                </li>
            </ul>
        </div>

        <!-- 메인, 글 목록 -->
        <div class="board-main">
            <ul>
                <!-- 글 내용 -->
                <li>
                    <a href="#!" class="article no-thumb">
                        <div class="info-box">
                            <div class="info-inner">
                                <!-- 강조 -->
                                <em class="notice">신규</em>
                                <h3 class="title">[관악구] 충전기 / 15대</h3>
                                <span class="created-at">2026.01.20</span>
                            </div>
                        </div>
                    </a>
                </li>

                <!--  글 내용 -->
                <li>
                    <a href="#!" class="article no-thumb">
                        <div class="info-box">
                            <div class="info-inner">
                                <!-- 강조 -->
                                <em class="notice">신규</em>
                                <h3 class="title">[용산구] 충전기 / 10대</h3>
                                <span class="created-at">2026.01.15</span>
                            </div>
                        </div>
                    </a>
                </li>

                <!-- 글 내용 -->
                <li>
                    <a href="#!" class="article no-thumb">
                        <div class="info-box">
                            <div class="info-inner">
                                <h3 class="title">[용산구] 충전기 / 10대</h3>
                                <span class="created-at">2026.01.15</span>
                            </div>
                        </div>
                    </a>
                </li> 

                <!-- 글 내용 -->
                <li>
                    <a href="#!" class="article no-thumb">
                        <div class="info-box">
                            <div class="info-inner">
                                <h3 class="title">[용산구] 충전기 / 10대</h3>
                                <span class="created-at">2026.01.15</span>
                            </div>
                        </div>
                    </a>
                </li> 

                <!-- 글 내용 -->
                <li>
                    <a href="#!" class="article no-thumb">
                        <div class="info-box">
                            <div class="info-inner">
                                <h3 class="title">[용산구] 충전기 / 10대</h3>
                                <span class="created-at">2026.01.15</span>
                            </div>
                        </div>
                    </a>
                </li> 

                <!-- 글 내용 -->
                <li>
                    <a href="#!" class="article no-thumb">
                        <div class="info-box">
                            <div class="info-inner">
                                <h3 class="title">[용산구] 충전기 / 10대</h3>
                                <span class="created-at">2026.01.15</span>
                            </div>
                        </div>
                    </a>
                </li> 

                <!-- 글 내용 -->
                <li>
                    <a href="#!" class="article no-thumb">
                        <div class="info-box">
                            <div class="info-inner">
                                <h3 class="title">[용산구] 충전기 / 10대</h3>
                                <span class="created-at">2026.01.15</span>
                            </div>
                        </div>
                    </a>
                </li> 

                <!-- 글 내용 -->
                <li>
                    <a href="#!" class="article no-thumb">
                        <div class="info-box">
                            <div class="info-inner">
                                <h3 class="title">[용산구] 충전기 / 10대</h3>
                                <span class="created-at">2026.01.15</span>
                            </div>
                        </div>
                    </a>
                </li> 

                <!-- 글 내용 -->
                <li>
                    <a href="#!" class="article no-thumb">
                        <div class="info-box">
                            <div class="info-inner">
                                <h3 class="title">[용산구] 충전기 / 10대</h3>
                                <span class="created-at">2026.01.15</span>
                            </div>
                        </div>
                    </a>
                </li> 

                <!-- 글 내용 -->
                <li>
                    <a href="#!" class="article no-thumb">
                        <div class="info-box">
                            <div class="info-inner">
                                <h3 class="title">[용산구] 충전기 / 10대</h3>
                                <span class="created-at">2026.01.15</span>
                            </div>
                        </div>
                    </a>
                </li> 
            </ul>
        </div>

        <!-- 푸터, 페이지 이동/제목, 내용 검색 -->
        <div class="board-footer">
            <!-- 페이지네이션 -->
            <div class="pagination">
                <div class="page">
                    <div class="desktop-only">
                        <!-- 왼쪽 이동 버튼 -->
                        <button class="prev-page icon-chevron-left" data-page="0">
                            <span class="text-hidden">이전 목록</span>
                        </button>
                        <!-- 페이지 리스트 -->
                        <a href="#!" data-page="1" class="current">1</a>
                        <a href="#!" data-page="2">2</a>
                        <a href="#!" data-page="3">3</a>
                        <a href="#!" data-page="4">4</a>
                        <a href="#!" data-page="5">5</a>
                        <a href="#!" data-page="6">6</a>
                        <!-- 오른쪽 이동 버튼 -->
                        <button class="next-page icon-chevron-right" data-page="7">
                            <span class="text-hidden">다음 목록</span>
                        </button> 
                    </div>
                </div>
            </div>

            <!-- 검색바 -->
            <div class="search">

                <!-- 검색 데이터 요청용 폼(서버 구현 시 action/method 설정) -->
                <form id="news-board-search">
                    <!-- 검색 필터 -->
                    <div class="filter-container">
                        <select id="search-select-in-board" class="filter">
                            <option value="tc">제목+내용</option>
                            <option value="t">제목</option>
                            <option value="c">내용</option>
                        </select>
                    </div>

                    <!-- 검색 내용 -->
                    <div class="field">
                        <label class="text-hidden">검색창</label>
                        <input type="text" id="search-text-in-board" class="search-form" name="searchTextInBoard" value="">
                        <button class="btn-search dense" type="submit">검색</button>
                        <input id="searchText1" name="searchText1" type="hidden" value="">
                        <input id="searchSelect1" name="searchSelect1" type="hidden" value="">
                        <input id="searchSelect2" name="searchSelect2" type="hidden" value="">
                        <input id="searchSelect4" name="searchSelect4" type="hidden" value="">
                        <input id="searchSelect5" name="searchSelect5" type="hidden" value="">
                    </div>
                </form>
            </div>

        </div>
    </main>
</body>
<script src="/static/js/company-admin/company-charger.js"></script>
</html>