<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테스트</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/static/css/company-admin/company-list.css">

</head>
<body>
    <!-- 날짜 선택 박스 -->
    <div class="box-filter">
        <div class="comp-datepicker">
            <div class="inner-datepicker">
                <!-- 캘린더 이미지 -->
                <i class="icon icon-calendar"></i>
                <input type="text" class="tf-comm datepicker-range" id="datepicker">
                <span class="fz-12 fc-2">
                    사용자 설정
                </span>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</html>